@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&family=DM+Sans:wght@400;500;700&family=Outfit:wght@400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


/* custom scrollbar só chrome */
body::-webkit-scrollbar {
  width: 3px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #111111;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #383838;
  border-radius: 10px;
}